* { margin:0; padding:0; box-sizing:border-box; }

/*Header*/
.dishi_header {
    position: fixed;
    width: 100%;
    height: 4em;
    background-color: #3FC979;
    color: white;
    text-align: center;

}

.dishi_header_container {
    width: 7em;
    height: 4em;
    margin: 0 auto;
}

/*Title*/
.dishi_title {
    float: left;
    padding-top: 15px;
}

/*Logo*/
#panda {
    width: 50px;
    float: right;
    padding-top: 5px;
}

/*Body*/
.dishi_main {
    padding-top: 4em;
}

/*Expanding + Symbols*/
.plus_container {
    float: right;
}

.plus_symbol {
    color:#04AA6D;
    float: right;
}

/*Pickup Time*/
.time_container {
    width: 100%;
    margin: 0 auto;
    margin-left: -1%;
}

/* #time_separate {
    margin: 0;
    font-size: 20px;
    font-weight:bold;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
} */

#time_input {
    width: 45%;
    float: left;
}

.time_select {
    width: 70px;
}

/*Distance*/
#max_value {
    float: right;
}

/*Ratings*/
.ratings-group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.ratings-group > input {
    display: none;
}

.ratings-group > label {
    position: relative;
    width: 1.5em;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.ratings-group--star > label {
    color: rgba(0, 0, 0, 0.2);
    /* color: #f6c02d; */
}

.ratings-group--star > label::before {
    content: url(/private/images/star_filled.svg);
}

.ratings-group--cost > label {
    color: #86cf5b;
}

.ratings-group--cost > label::before {
    content: url(../images/dollar_filled.svg);
}

.ratings-group > label::before {
    position: absolute;
    opacity: 0;
}

.ratings-group > label:hover:before,
.ratings-group > label:hover~label:before {
    opacity: 1;
}

.ratings-group > input:checked~label:before {
    opacity: 1;
}

.ratings-group:hover > input:checked~label:before {
    opacity: 0.7;
}

/*Sliders*/
.slidecontainer {
    width: 100%;
  }
  
.slider {
-webkit-appearance: none;
width: 100%;
height: 10px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
border-radius: 15px;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 30px;
height: 30px;
background: #04AA6D;
cursor: pointer;
border-radius: 50%;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
background: #04AA6D;
cursor: pointer;
}

/*Added options*/
#filter_add {
    margin-top: 20px;
}

.filter_container {
    background-color: black;
    color: white;
    width: 180px;
    height: 30px;
    border-radius: 10px;
    padding: 2px;
    padding-left: 15px;
    float: left;
    margin-bottom: 0px;
}

.bi-x-lg {
    float: left;
    margin: 5px;
}

.filter_container > p {
    float:left;
}

/*Exit Options*/
.exit {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5em;
}

.exit_option:nth-child(1) {
    background-color: white;
    color: black;
    border: 2px solid black;
    margin-right: 10px;
}

.exit_option:nth-child(2) {
    background-color: #3FC979;
    border: 2px solid #3FC979;
}

/*Navbar*/
.navbar {
    position: fixed;
    width: 100%;
    height: 4em;
    bottom: 0;
    background-color: #3FC979;
}

.navbar > svg{
    color: white;
}

.navbar > svg:nth-child(1){
    margin-left: 15px;
}

.navbar > svg:nth-child(4){
    margin-right: 15px;
}

.alert-warning {
    margin: auto;
}

.container_time {
    width: 100%;
    text-align: center;
}

.container_time > div, .container_time > p {
    
}

.singleSize {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

#time_separate {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight:bold;
    padding-left: 2%;
    padding-right: 2%;
}

#save_settings {
    background-color: #3FC979;
    border: none;
}

#headingThree {
    display: none;
}

.isDisabled:nth-child(4) {
    margin-top: -2px;
}